name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [chrome-tests, firefox-tests, webkit-tests]
      fail-fast: false
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Create env file
      run: |
        echo "STANDARD_USER=${{ secrets.STANDARD_USER }}" >> .env
        echo "STANDARD_PASSWORD=${{ secrets.STANDARD_PASSWORD }}" >> .env
        echo "LOCKED_USER=${{ secrets.LOCKED_USER }}" >> .env
        echo "LOCKED_PASSWORD=${{ secrets.LOCKED_PASSWORD }}" >> .env
        echo "PROBLEM_USER=${{ secrets.PROBLEM_USER }}" >> .env
        echo "PROBLEM_PASSWORD=${{ secrets.PROBLEM_PASSWORD }}" >> .env
        echo "PERFORMANCE_USER=${{ secrets.PERFORMANCE_USER }}" >> .env
        echo "PERFORMANCE_PASSWORD=${{ secrets.PERFORMANCE_PASSWORD }}" >> .env
    
    - name: Run Playwright Docker Tests
      run: |
        docker-compose build ${{ matrix.browser }}
        docker-compose run ${{ matrix.browser }}
    
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report-${{ matrix.browser }}
        path: playwright-report/
        retention-days: 30